{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <main>
        <h1>Quick Paths</h1>
        <div class="container">
            <p>
                Admin's Page:
                <a target="_blank" href="http://127.0.0.1:8000/admin/">click here</a>
            </p>
            <p>
                Progress :
                <a target="_blank" href="http://127.0.0.1:8000/api/progress/">click here</a>
            </p>
            <p>
                Courses List :
                <a target="_blank" href="http://127.0.0.1:8000/api/courses/">click here</a>
            </p>
            <p>
                Lessons List :
                <a target="_blank" href="http://127.0.0.1:8000/api/lessons/">click here</a>
            </p>
            <p>
                Questions List :
                <a target="_blank" href="http://127.0.0.1:8000/api/questions/">click here</a>
            </p>
        </div>
    </main>
</body>
</html>