.parent{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #eee; */
    /* min-height: 20px; */
}
.progressBackground{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #eee;
    border-radius: 1rem;
    z-index: 10;
}

.progressBar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0%;
    background-color: #51a2ff;
    border-radius: 1rem;
    z-index: 100;
}
