.svgParent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.svgEnter {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease, transform 300ms ease;
}

.svgExit {
    opacity: 0;
    transform: scale(0);
    transition: opacity 300ms ease, transform 300ms ease;
}
