.zoomIn{
    animation: zoom-in 0.5s ease-in-out forwards;
}

.zoomOut{
    animation: zoom-out 0.5s ease-in-out forwards;
}

@keyframes zoom-in {
    0% {
        transform: scale(1);
        }
    100% {
        transform: scale(0);
    }
}

@keyframes zoom-out {
    0% {
        transform: scale(0);
        }
    100% {
        transform: scale(1);
    }
}